/* .color1 { #c5b89f };
.color2 { #feffd4 };
.color3 { #9e2d4a };
.color4 { #450b1e };
.color5 { #21000f }; */

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(imagens/banner\ formulário.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.caixa {
    width: 380px;
    height: 350px;
    margin: 190px auto;
    box-shadow: 7px 14px 23px black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.caixa h2 {
    margin-bottom: 20px;
    font-size: 2.5em;
    color: white;
}

.caixa hr {
    background-color: rgba(128, 128, 128, 0.801);
    width: 230px;
    color: white;
    margin: 0 auto;
}

form {
    margin-top: 25px;
    color: white;
}

.enviar {
    margin-top: 10px;
}

form input {
    width: 150px;
    height: 20px;
    border-radius: 12px;
    font-family: 'Times New Roman', Times, serif;

}

form a button {
    margin-top: 15px;
}

form a button {
    border-radius: 12px;
    width: 200px;
    height: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.select {
    border-radius: 12px;
}

.enviar input {
    width: 150px;
    height: 25px;
    border-radius: 12px;
    font-family: 'Times New Roman', Times, serif;
}

.enviar input:hover {
    background-color: rgba(150, 147, 147, 0.829);
    color: white;
    transition: 0.5s;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 12px;
    cursor: pointer;
}

.ddd {
    font-family: 'Times New Roman', Times, serif;
    height: 23px;
    border-radius: 12px;
}

a button {
    width: 150px;
    height: 2rem;
    border-radius: 12px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

.voltar a button {
    /* margin-left: 700px; */
    margin-top: 5px;
}


/* Código de Responsividade abaixo */


/* 480px */
/* 767px */
/* 991px */
/* 1366px */
/* 1920px */