/* .color1 { #c5b89f };
.color2 { #feffd4 };
.color3 { #9e2d4a };
.color4 { #450b1e };
.color5 { #21000f }; */

* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;

}

.cabeçalho {
    background-color: #450b1e;
    padding: 1.5em;
    display: flex;
    align-items: center;
}

.cabeçalho img {
    width: 140px;
    height: 140px;
    padding: 10px;
    margin-left: 20px;
}

.cabeçalho h1 {
    color: #feffd4;
    padding: 10px;
    font-size: 33px;
    text-align: center;
    margin-left: 210px;
}

.cabeçalho nav {
    margin-top: 5px;
    padding: 10px;
    margin-left: 100px;

}

.cabeçalho nav ul {
    display: flex;
}

.cabeçalho nav ul a {
    text-decoration: none;
    color: #feffd4;
}

.cabeçalho nav li {
    list-style: none;
    margin-left: 25px;
    text-align: center;
    font-size: 19px;
}

.cabeçalho nav ul li a:hover {
    color: #eff179;
    transition: 0.9s;
}

.Imagem-Inicial img {
    width: 84.3rem;
    height: 55rem;
}

.sobre {
    padding: 10rem;
    background: linear-gradient(180deg, rgba(186, 24, 77, 0.8295693277310925) 33%, rgba(69, 11, 30, 1) 100%), url(imagens/Fundo-Formulário.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #feffd4;
    line-height: 40px;
    font-size: 1.5em;
}

.Quem-somos {
    padding: 5rem;
    font-size: 1.5em;
    line-height: 70px;
    text-align: justify;
}

.Quem-somos h2 {
    text-align: center;
}

.Quem-somos div p span {
    color: #360616;
    font-weight: 900;
}

.Quem-somos a button {
    width: 150px;
    height: 2rem;
    border-radius: 12px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

.Quem-somos a button:hover {
    color: #750b2f;
    transition: 0.9s;
}

.line {
    width: 70%;
    margin: 0 auto;
}

.Serviços {
    padding: 5rem;
    font-size: 1.5em;
    line-height: 70px;
    text-align: justify;
}

.Serviços h2 {
    text-align: center;
}

.Serviços .span {
    color: #360616;
    font-weight: 900;
}

.Serviços a button {
    width: 150px;
    height: 2rem;
    border-radius: 12px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

a button:hover {
    color: #750b2f;
    transition: 0.9s;
}

.sobre {
    padding: 3rem;
    height: 42em;
}

.sobre h2 {
    font-size: 35px;
    margin-top: 50px;
}
.sobre h4 {
    margin-top: -60px;
    text-align: center;
    font-size: 35px;
}

.sobre .div-pai {
    display: flex;
    text-align: justify;
}

.sobre div {
    font-size: 1.1em;
    height: 120px;
    margin-right: 25px;
    line-height: 40px;
}

.footer {
    background-color: #450b1e;
    padding: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer img {
    width: 140px;
    height: 140px;
    padding: 10px;
    margin-left: 20px;
}


.footer nav {
    margin-top: 5px;
    padding: 10px;
    margin-left: 100px;

}

.footer nav ul {
    font-size: 25px;
    display: flex;
    margin-left: -80px;
}

.footer nav ul a {
    text-decoration: none;
    color: #feffd4;
}

.footer nav li {
    list-style: none;
    margin-left: 25px;
    text-align: center;
    font-size: 1em;
}

.footer nav ul li a:hover {
    color: #eff179;
    transition: 0.9s;
}

.footer div {
    margin-right: 80px;
}

.footer div i {
    color: #feffd4;
    font-size: 30px;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
}