/* .color1 { #c5b89f };
.color2 { #feffd4 };
.color3 { #9e2d4a };
.color4 { #450b1e };
.color5 { #21000f }; */

* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #551027f1;
}

.cabeçalho {
    background-color: #450b1e;
    padding: 1.5em;
    display: flex;
    align-items: center;
}

.cabeçalho img {
    width: 140px;
    height: 140px;
    padding: 10px;
    margin-left: 25px;
}

.cabeçalho h1 {
    color: #feffd4;
    padding: 10px;
    font-size: 34px;
    text-align: center;
    margin-left: 210px;
}

.cabeçalho nav {
    margin-top: 5px;
    padding: 10px;
    margin-left: 100px;
    font-size: 19px;
}

.cabeçalho nav ul {
    display: flex;
}

.cabeçalho nav ul a {
    text-decoration: none;
    color: #feffd4;
}

.cabeçalho nav li {
    list-style: none;
    margin-left: 25px;
    text-align: center;
    font-size: 1em;
}

.cabeçalho nav ul li a:hover {
    color: #eff179;
    transition: 0.9s;
}

.sessao {
    padding: 3rem;
    background: url(imagens/Banner\ -\ Privacidade.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

h2 {
    font-size: 5rem;
    text-align: center;
    margin-top: 50px;
    color: #feffd4;
}

.line {
    width: 60%;
    margin: 0 auto;
}

p {
    font-size: 2rem;
    text-align: justify;
    margin-top: 30px;
    color: #feffd4;
    margin-left: 70px;
    margin-right: 70px;
    line-height: 80px;
}

p span {
    color: #ece252;
    font-weight: 900;
}

.footer {
    background-color: #450b1e;
    padding: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer img {
    width: 140px;
    height: 140px;
    padding: 10px;
    margin-left: 20px;
}

.footer nav {
    margin-top: 5px;
    padding: 10px;
    margin-left: 100px;

}

.footer nav ul {
    display: flex;
    margin-left: -80px;
}

.footer nav ul a {
    text-decoration: none;
    color: #feffd4;
}

.footer nav li {
    list-style: none;
    margin-left: 25px;
    text-align: center;
    font-size: 25px;
}

.footer nav ul li a:hover {
    color: #eff179;
    transition: 0.9s;
}

.footer div {
    margin-right: 40px;
}

.footer div i {
    color: #feffd4;
    font-size: 30px;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

/* Código de Responsividade abaixo */


/* 480px */
/* 767px */
/* 991px */
/* 1366px */
/* 1920px */

@media screen and (max-width: 480px ) {
    
.cabeçalho {
    padding: 2rem;
    width: 80rem;
}

.cabeçalho img {
    width: 160px;
    height: 160px;
    padding: 10px;
    margin-left: 35px;
}

.cabeçalho h1 {
    font-size: 37px;
    margin-left: 180px;
}

.cabeçalho nav {
    margin-left: 39px;
    font-size: 24px;
}

.sessao {
    padding: 3rem;
    width: 78rem;
    height: 70rem;
    background-attachment: fixed;
    background-size: cover;
}

h2 {
    font-size: 5rem;
    text-align: center;
    margin-top: 50px;
}


p {
    font-size: 2rem;
    text-align: justify;
    margin-top: 30px;
}

.footer {
    padding: 2em;
    height: 16.3rem;
   width: 81rem;
}

.footer img {
    width: 180px;
    height: 180px;
    padding: 10px;
    margin-left: 20px;
}

.footer nav li {
    margin-left: 25px;
    text-align: center;
    font-size: 40px;
}

.footer div i {
    font-size: 60px;
    padding: 10px;
    margin-left: 10px;
}
}

@media screen and (max-width: 767px ) {
    
    .cabeçalho {
        padding: 1rem;
        width: 82rem;
    }
    
    .cabeçalho img {
        width: 160px;
        height: 160px;
        padding: 10px;
        margin-left: 35px;
    }
    
    .cabeçalho h1 {
        font-size: 37px;
        margin-left: 180px;
    }
    
    .cabeçalho nav {
        margin-left: 39px;
        font-size: 24px;
    }
    
    .sessao {
        padding: 3rem;
        width: 78rem;
        height: 70rem;
        background-attachment: fixed;
        background-size: cover;
    }
    
    h2 {
        font-size: 5rem;
        text-align: center;
        margin-top: 50px;
    }
    
    
    p {
        font-size: 2rem;
        text-align: justify;
        margin-top: 30px;
    }
    
    .footer {
        padding: 1.5em;
       width: 81rem;
    }
    
    .footer img {
        width: 160px;
        height: 160px;
        padding: 10px;
        margin-left: 20px;
    }
    
    .footer nav li {
        margin-left: 25px;
        text-align: center;
        font-size: 30px;
    }
    
    .footer div i {
        font-size: 45px;
        padding: 10px;
        margin-left: 10px;
    }
    }

    
@media screen and (max-width: 991px ) {
    
    .cabeçalho {
        padding: 1rem;
        width: 100rem;
    }
    
    .cabeçalho img {
        width: 200px;
        height: 200px;
        padding: 10px;
        margin-left: 35px;
    }
    
    .cabeçalho h1 {
        font-size: 49px;
        margin-left: 180px;
    }
    
    .cabeçalho nav {
        margin-left: 39px;
        font-size: 30px;
    }
    
    .sessao {
        padding: 3rem;
        width: 96rem;
        height: 90rem;
        background-attachment: fixed;
        background-size: cover;
    }
    
    h2 {
        font-size: 5rem;
        text-align: center;
        margin-top: 50px;
    }
    
    p {
        font-size: 4rem;
        text-align: justify;
        margin-top: 30px;
    }
    
    .footer {
        padding: 1.5em;
       width: 99rem;
    }
    
    .footer img {
        width: 200px;
        height: 200px;
        padding: 10px;
        margin-left: 20px;
    }
    
    .footer nav li {
        margin-left: 25px;
        text-align: center;
        font-size: 42px;
    }
    
    .footer div i {
        font-size: 55px;
        padding: 10px;
        margin-left: 10px;
    }
    }