* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.cabeçalho {
    background-color: #450b1e;
    padding: 1.5em;
    display: flex;
    align-items: center;
}

.cabeçalho img {
    margin-left: 20px;
    width: 140px;
    height: 140px;
    padding: 10px;
}

.cabeçalho h1 {
    color: #feffd4;
    padding: 10px;
    font-size: 34px;
    text-align: center;
    margin-left: 220px;
}

.cabeçalho nav {
    margin-top: 5px;
    padding: 10px;
    margin-left: 100px;

}

.cabeçalho nav ul {
    display: flex;
}

.cabeçalho nav ul a {
    text-decoration: none;
    color: #feffd4;
}

.cabeçalho nav li {
    list-style: none;
    margin-left: 25px;
    text-align: center;
    font-size: 19px;
}

.cabeçalho nav ul li a:hover {
    color: #eff179;
    transition: 0.9s;
}

.texto-2 {
    padding: 12em;
    text-align: justify;
    background: url(imagens/Prancheta\ 1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

.texto-2 p {
    font-size: 2.5em;
    text-align: justify;
}

.texto-2 p span {
    color: #ece252;
    font-weight: 900;
}

.footer {
    background-color: #450b1e;
    padding: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer img {
    width: 140px;
    height: 140px;
    padding: 10px;
    margin-left: 20px;
}

.footer nav {
    margin-top: 5px;
    padding: 10px;
    margin-left: 100px;

}

.footer nav ul {
    display: flex;
    margin-left: -80px;
}

.footer nav ul a {
    text-decoration: none;
    color: #feffd4;
    font-size: 25px;
    font-size: 19px;
}

.footer nav li {
    list-style: none;
    margin-left: 25px;
    text-align: center;

}

.footer nav ul li a:hover {
    color: #eff179;
    transition: 0.9s;
}

.footer div {
    margin-right: 40px;
}

.footer div i {
    color: #feffd4;
    font-size: 30px;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

/* Código de Responsividade abaixo */


/* 480px */
/* 767px */
/* 991px */
/* 1366px */
/* 1920px */

@media screen and (max-width: 1920px) {



    .cabeçalho {
        padding: 8em;
    }

    .cabeçalho img {
        margin-left: 20px;
        width: 160px;
        height: 160px;
        padding: 10px;
    }

    .cabeçalho h1 {
        font-size: 3em;
        text-align: justify;

    }

    .cabeçalho nav li {
        font-size: 2em;
    }


    .texto-2 {
        font-size: 1.6em;
    }


    .footer {
        padding: 6em;
    }

    .footer nav li a {
        font-size: 2em;
    }

    .footer div a i {
        font-size: 3em;
    }

    .footer img {
        margin-left: 20px;
        width: 140px;
        height: 140px;
        padding: 10px;

    }

}

@media screen and (max-width: 1366px) {


    .cabeçalho {
        padding: 8em;
    }

    .cabeçalho img {
        margin-left: 20px;
        width: 120px;
        height: 120px;
        padding: 8px;
    }


    .cabeçalho h1 {
        font-size: 3em;

    }

    .cabeçalho nav li {
        font-size: 1.5em;
    }


    .texto-2 {
        font-size: 1.4em;
    }


    .footer {
        padding: 5em;
    }

    .footer nav li a {
        font-size: 1.5em;
    }

    .footer div a i {
        font-size: 2em;
        display: inline;
        padding: 2px;
    }

    .footer img {
        margin-left: 20px;
        width: 120px;
        height: 120px;
        padding: 8px;

    }
}

@media screen and (max-width: 991px) {

    .cabeçalho {
        padding: 6em;
    }

    .cabeçalho img {
        margin-left: 10px;
        width: 80px;
        height: 80px;
        padding: 8px;;
    }


    .cabeçalho h1 {
        font-size: 1.5em;

    }

    .cabeçalho nav li {
        font-size: 1em;
    }


    .texto-2 {
        font-size: 0.8em;
    }


    .footer {
        padding: 4em;
    }

    .footer nav li a {
        font-size: 1em;
    }

    .footer div a i {
        font-size: 1.5em;
        display: inline;

    }

    .footer img {
        margin-left: 5px;
        width: 80px;
        height: 80px;
        padding: 8px;

    }


}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 480px) {}